<!DOCTYPE html>
<html lang="en">
<head>
  <title>Result Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    #edit{
      text-decoration: none;
      color: yellow;
    }
    #Del{
      text-decoration: none;
      color: red;
    }
    #edit:hover{
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
    #Del:hover{
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
    th{
      color: red;
    }
    #id{
      color: yellow;
    }
  </style>
</head>
<body>

<div class="container">
    
      <h2 style=" text-align:center; color:green;">Employee Details</h2>
                
    <table class="table table-dark" style=" text-align:center; float: center; ">
        <thead>
          <tr>
              
            <th id="id">Emp_id</th>
            <th>Employee_name</th>
            <th>Email</th>
            <th>Section</th>
            <th>Salary</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- emp is a veriable for forloop -->
            {% for emp in products %}
          <tr>
              <td id="id">{{emp.id}}</td>
            <td>{{emp.employee_name}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.section}}</td>
            <td>{{emp.salary}}</td>
            <td><a href="{% url 'edit_details' emp.id %}" id="edit">Edit</a><br>
            <a href="{% url 'delete_product' emp.id %}"id="Del" onclick="alert('Confirm')">Delete</a></td>
          </tr>
          {% endfor %}
      </tbody>

    </table>

    <div class="row">
      <div class="col-sm-12" style="text-align:center">
        <a href="{% url 'add'%}"><button type="submit" class="btn btn-success" >Add Employee Details</button></a>
      </div>
    </div>
  </div>
  
  </body>
  </html>
      